/* Sizes: */
.material-icons.sm {font-size: 24px;}	
.material-icons.md {font-size: 50px;}
.material-icons.lg {font-size: 100px;}
.material-icons.xl {font-size: 200px;}

/* Colors: */
.material-icons.blue {color:#013C66}
.material-icons.gold {color:#F6B000}
.material-icons.gray {color:#EBEBEB}
.material-icons.black {color:#000}


/* Edit Mode 
The sizes and background colors behind the placeholder GIF:
*/
img.material-icons.sm {width:24px; height: 24px;}
img.material-icons.md {width:50px; height: 50px;}
img.material-icons.lg {width:100px; height:100px;}
img.material-icons.xl {width:200px; height:200px;}

img.material-icons.blue {background-color:#013C66}
img.material-icons.gold {background-color:#F6B000}
img.material-icons.gray {background-color:#EBEBEB}
img.material-icons.black {background-color:#000}