#main {
	padding:5px 10px;
	overflow-x: hidden;
}

.form-group {
	margin-bottom:5px !important;
}

.col-xs-2#icon-example {padding-left:0}

.row.help {margin: 10px 0 0 0 !important;}
.help.col-xs-6 {padding-left:5px; padding-right: 5px;}